@charset "UTF-8";
/* Mise en place des différentes polices utilisées */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/polices/Roboto/Roboto-Regular.eot");
  src: url("../../assets/polices/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/polices/Roboto/Roboto-Regular.woff2") format("woff2"), url("../../assets/polices/Roboto/Roboto-Regular.woff") format("woff"), url("../../assets/polices/Roboto/Roboto-Regular.ttf") format("truetype"), url("../../assets/polices/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../assets/polices/Shrikhand/Shrikhand-Regular.eot");
  src: url("../../assets/polices/Shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.woff") format("woff"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* Mise en place des différentes polices utilisées */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/polices/Roboto/Roboto-Regular.eot");
  src: url("../../assets/polices/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/polices/Roboto/Roboto-Regular.woff2") format("woff2"), url("../../assets/polices/Roboto/Roboto-Regular.woff") format("woff"), url("../../assets/polices/Roboto/Roboto-Regular.ttf") format("truetype"), url("../../assets/polices/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../assets/polices/Shrikhand/Shrikhand-Regular.eot");
  src: url("../../assets/polices/Shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.woff") format("woff"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../../assets/polices/Shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@keyframes loading_page {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    z-index: -2;
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
    border-top-color: #99E2D0;
  }
  33% {
    transform: rotate(360deg);
    border-top-color: #9356DC;
  }
  66% {
    transform: rotate(720deg);
    border-top-color: #FF79DA;
  }
  100% {
    transform: rotate(1080deg);
    border-top-color: #99E2D0;
  }
}
@keyframes emerge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growing_heart {
  from {
    transform: rotate(30deg);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  55% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  65% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  92% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.15);
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  opacity: 1;
  animation: loading_page 4s linear forwards;
}
.loading::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px double white;
  border-radius: 50%;
  border-top-color: #99E2D0;
  animation: loading 3s cubic-bezier(0.4, 0.43, 0, 0.86) infinite;
  transform: rotate(0deg);
}

.pink_btn {
  height: 45px;
  width: auto;
  cursor: pointer;
  min-width: 160px;
  max-width: 200px;
  border-radius: 30px;
  border: 1px #f6f6f6 solid;
  font-size: 90%;
  box-shadow: 0px 3px 4px rgba(128, 128, 128, 0.3);
  color: white;
  padding-left: 17px;
  padding-right: 17px;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  border: #9356DC;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.pink_btn:hover::after {
  opacity: 1;
}
.pink_btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: radial-gradient(ellipse at top, #FF79DA, transparent);
  border: rgba(255, 21, 218, 0.1);
  box-shadow: 0px 3px 4px rgb(128, 128, 128);
  transition: opacity 250ms;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}

.newness {
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 20px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newness p {
  color: #008766;
  font-size: 90%;
}

@media (min-width: 768px) {
  .icon {
    margin-left: 15px;
  }
}/*# sourceMappingURL=components.css.map */