// Imports
    // Variables and font
    @import "./variables.scss";

    // Pages
        // Home page
        @import "./home-page.scss";
        // Restaurants Page;
        @import "./restaurants-pages.scss";

    //Components
        // Header
        @import"./header.scss";
        // Footer
        @import "./footer.scss"; 
        // components (spinner, btn...)
        @import "./components.scss";

    // Animations
    @import "./keyframes.scss";


// Generalities


    // General
    html{
        -webkit-font-smoothing: antialiased !important; 
    }
    h1, h2, h3{
        font-family: 'Roboto', Arial, sans-serif;
    }
    
    // h1{
    //     font-size: 110%;
    // }
    
    h2{
        font-size: 140%;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 110%;
        margin-bottom:10px;
    }
    
    p{
        color:black;
        font-size:110%;
    }
    
    a{
        text-decoration: none;
        color:black;
    }
    
    body{
        font-family: 'Roboto';
    }
    

