@import "./variables.scss";
@import "./components.scss";
@import "./keyframes.scss";



// page menu specificities
 


    .img{
    position: relative;
    z-index:-1; 
    margin-bottom: -60px;
    
    &--size{
        width:100%;
    }
    
    &__note-enchantee{
        position: relative;
        z-index:-1; 
        margin-bottom: -200px;
        margin-top:-73px; 
    }
    
}



.menu{
    background-color: $background2ndShade;
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 45px 45px 0 0;
    
    &__name{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        padding-top:5px;
        padding-left:15px ;
        padding-right: 20px;
        
        & h1{
            font-family: 'Shrikhand';
            font-size:200% ;
        }

        
    }
    
    @for $i from 1 through 3{
        &__categorie#{$i}{
            display:flex;
            flex-direction:column;
            margin-bottom:20px ;
            padding-left: 15px;
            padding-right:15px;
            
            & h2{
                font-weight:lighter ;
                padding-bottom: 10px;
            }
            & span{
                text-decoration: underline 3px solid #99E2D0;
                text-underline-offset: 10px;
            }
            
            @for $i from 1 through $nbOfBtnMax{
                & button:nth-of-type(#{$i}){
                    animation-name: emerge;
                    animation-duration:3s;
                    animation-fill-mode: forwards;
                    animation-delay: 2s + $i*0.4s;
                }
            }
            
            &__btn{
                width:100%;
                height:80px;
                display:flex ;
                flex-direction:row;
                justify-content:space-between ;
                background-color: white ;
                overflow:hidden;
                cursor: pointer;
                border-radius: 17px;
                border:0px ;
                margin-bottom: 15px;
                padding-top:0px;
                padding-bottom: 0px;
                padding-right: 0px;
                opacity:0;
                
                &__detail{
                    display:flex ;
                    white-space: normal;
                    flex-direction:row;
                    justify-content:space-between ;
                    background-color:white ;
                    border-radius: 17px;
                    padding-top:5px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    // padding-right: 20px;
                    border:2px white solid;
                    width:100%;
             

                    &-txt{
                        width:calc(80%);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items:flex-start;
               
                        & h3{
                            max-width: 100%;
                            margin-bottom: 7px;
                            margin-top: 7px;
                            display:inline-block;
                            white-space: nowrap;    
                            overflow: hidden;                   
                            text-overflow:ellipsis; 
                            font-weight: bold;                              
                        }
                        
                        & p{
                            max-width: 100%;
                            margin-bottom: 7px;
                            margin-top: 7px; 
                            display: inline-block;
                            white-space: nowrap;    
                        overflow: hidden;                   
                        text-overflow:ellipsis;                     
                        }
                    }
                    
                    &-price{

                        width:calc(20%) ;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: flex-end;
                        font-weight: bold;
                        align-self: flex-end;
                        margin-bottom:7px;
                    }
                    
                }
                &__check{
                    font-size: 200%;
                    height: 100%;
                    border-radius: 0 17px 17px 0;
                    border:0 1px 1px 1px solid $tertiary;
                    color:white;
                    background-color: $tertiary;
                    margin-left: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position:relative;
                    right:-4em;
                    width:0em;
                    transform: translate(0);
                    transform-origin: right;
                    transition: width 0.4s ease-in, margin-left 0.5s ease-out, transform 0.4s ease-in ;
                    
                    
                    span {
                        display:inline-block;
                        transform:rotate(0deg);
                        transition: transform 0.5s ease-out;
                    }     
                    
                    
                }
                &:hover{
                    & > .menu__categorie#{$i}__btn__check{
                        width:4em;
                        margin-left: 0px;
                        transform: translate(-4em);
                        transition-duration: 0.4s;
                        
                        span {
                            transform:rotate(360deg);
                            transition-duration: 0.8s;
                            transition-timing-function: cubic-bezier(.76,.05,.47,.87);
                        }     
                    }        
                }  
            }           
        }        
    } 
    &__command{
        font-size: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        padding-top: 15px;
    }
}

// Responsivity tablet
@media (min-width: 768px) and (max-width: 991px){
    .img{
        width:100%;
        height:385px;
        overflow: hidden;


        &--size{
            max-width:100%;
            position:absolute;
            top: -80px;
        }
    }

    .menu{
        max-width:700px;
        margin:auto;

        &__name{
            justify-content: center;
            
            & h1{
                // flex:2;
                padding-right: 25px; 
                display: flex;
                justify-content: center;
            }
        }
    .heart-container{
        flex:unset;
        justify-content: center;
        margin-right:-15px;
        padding-left: 0;
    }

        @for $i from 1 through 3{
            &__categorie#{$i}{
                width:634px;
                margin: auto;
                &__btn__detail{
                    padding-right: 20px;
                }

            }
        }

    }
}





// Responsivity desktop


    @media (min-width: 992px){
    .img{
        width:100%;
        height:385px;
        overflow: hidden;


        &--size{
            max-width:100%;
            position:absolute;
            top: -350px;
        }

        &__note-enchantee{
            position: absolute;
            z-index:-1; 
            margin-bottom: -200px;
            margin-top:-73px; 
        }
    }

    .menu{
        max-width:1050px;
        margin:auto;


        &__name{
            
            justify-content: center;
            
            & h1{
                flex:2;
                // padding-right: 25px; 
                display: flex;
                justify-content: flex-end;
            }
        }

        @for $i from 1 through 3{
            &__categorie#{$i}{
                width:634px;
                margin: auto;

            }
        }

    }
}




